/* Agrega estos estilos en tu archivo de estilos CSS (App.module.css) */
.buttonContainer {
   display: flex;
   justify-content: center; /* Centrar horizontalmente */
   margin-top: 20px; /* Ajusta el margen superior según tus preferencias */
 }
 

/* Agrega estos estilos en tu archivo de estilos CSS (App.module.css) */

 